@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(46, 87, 37);
    background: linear-gradient(297deg, rgba(46, 87, 37, 1) 0%, rgba(113, 163, 52, 1) 100%)fixed;
    width: 100vw;
    min-height: 100%;
    font-family: "DM Sans", sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    gap: 1rem;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem !important;
}

.navbar-nav {
    justify-content: center;
    flex-grow: 1;
    gap: 0.75rem;
    padding-right: 1rem;
}

a {
    text-decoration: none !important;
    color: #193713 !important;
    font-family: "Poppins", sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important; 
    font-size: 20px !important;
}

a:hover {
    color: white !important;
}


.d-flex {
    display: flex;
    gap: 1rem;
}

.btn {
    display: flex;
    gap: 5rem !important;
    font-size: 14px !important;
    font-family: 'Poppins', sans-serif !important;

}

button img {
    margin-right: 0.2rem;
    width: 1rem;
}

button:hover {
    background-color: #d2d2d2;
    cursor: pointer;
}

container-fluid {
    align-items: center;
}

.nav-item{
    color: white;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px;
    height: 2rem;
}

.navbar-brand h1 {
    margin: 0;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(255, 255, 255);
}

.logo-Offcanvas{
    visibility: hidden;
}

.logo-Offcanvas img{
    width: 0px;
}

main {
    margin-top: 1rem;
    padding: 0rem 4.8rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

/* Index */
.title {
    color: white;
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 22px !important;
    position:relative;

}

h2::before {
    content: "";
    position: absolute;
    border-bottom: 3px solid #ffffff;
    width: 120%;
    left: 0;
    bottom: -2px;
}

.atual {
    display: flex;
    gap: 5px;
}

.atual p {
    font-size: 18px;
    position: relative;
}

.atual p::before {
    content: "";
    position: absolute;
    border-bottom: 3px solid #ffffff;
    width: 200px;
    right: 0;
    bottom: -8px;
}

.atual img{
    margin-top: 3px;
}

.cardflex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.cardbox {
    background-color: rgb(255, 255, 255);
    text-align:center;
    border-radius: 10px;
    width: 16.1rem;
    box-shadow: 5px 5px 10px rgba(30, 30, 30, 0.413);
    padding: 2rem 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-items: center;
    justify-content: center;
}

.cardbox p {
    color: #193713;
}

.cardbox h1 {
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
    color: #193713;
}

.icon {
    width: 10rem;
    height: 6.1rem;
    object-fit: contain;
}

.dados {
    display: flex;
    gap: 10px;
}

.dados p {
    text-align: left;
    font-size: 16px;
}

.graphic img {
    width: 1.6rem;
    height: 1.2rem;
}


/* Gráfico */
.cardgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, auto));
    gap: 1.0rem;
    width: 100%;
}

.card {
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgba(30, 30, 30, 0.413);
    border-radius: 10px;
    padding: 1.1rem;
}

.filtro {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #19371320;
    border-radius: 10px;
    padding: 0.93rem 0.93rem;
    align-items: right;
    color: #ffffff;
    height: 40%;
}

.filtro h1 {
    font-size: 28px;
}

.filtro h1 {
    content: "";
    border-bottom: 3px solid #ffffff;
    width: 40%;
    left: 0;
    bottom: -8px;
}

.forms {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

input[type="date"] {
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

#label-SmallScreen{
    display: none;
}

#Datas {
    border-radius: 6px;
    border-style: none;
    padding: 5px 13px;
}

.botoesFiltro {
    display: flex;
    justify-content: space-between;
    gap: 7px;
}

#Filtrar {
    padding: 0.25rem 0.9rem;
}

#Filtrar:hover {
    background-color: #d2d2d2;
    cursor: pointer;
}

#Limpar {
    text-align: left;
    background-color: transparent;
    color: white !important;
    text-decoration: none !important;
}

#Limpar:hover {
    background-color: #18361234 !important;
}

#IconExclude{
    display: none;
}

/* Footer */
footer {
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-top: 2rem;
}

footer p {
    color: white;
    font-size: 12px;
}

/* Responsavidade */

@media (max-width: 703px) {
    /* Navbar */
    .navbar-brand h1 {
        font-size: 22px;
    }
    
     /* Index e Gráfico */
    main {
        margin-top: 2rem;
        padding: 0rem 0.2rem;
    }

     /* Index */
    .title {
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .atual p{
        display: flex;
        align-items: center;
    }

    .atual img{
        margin-top: 0;
    }

    .atual p::before {
        content: "";
        border: none;
    }

    h2::before {
        width: 100%;
    }

    .cardbox {
        width: 20rem;
    }
}

@media (max-width: 768px) {
    .d-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo-Offcanvas {
        visibility: visible;
    }

    .logo-Offcanvas img{
        width: 5rem;
    }

    .offcanvas-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #193713;
    }

    .offcanvas-header{
        background-color:#193713;
        color:rgba(255, 255, 255, 0.79);
    }

     /* Navbar */
    nav {
        width: 100%;
        padding: 1rem !important;
    }
    
    .navbar-nav {
        padding: 0px;
        align-items: center;
        padding-right: 1rem;
    }

    .navbar-toggler-icon{
        fill: aqua;
    }

     /* Gráfico */
    .filtro{
        display: flex;
        flex-direction: column;
        gap: 0rem !important;
        padding: 0;
        width: 100%;
        background: transparent;
    }

    .filtro h1{
        display: none;
    }
    
    .forms{
        display: flex;
        flex-direction: row;
        gap: 0.4rem;
    }

    .inputItem label{
        display: none;
    }

    .inputItem{     
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.4rem;
        width: 100%;
    }

    #label-SmallScreen{
        display:inline;
    }

    input[type="date"] {
        font-family: 'Poppins', sans-serif;
        width: 100%;
        color: white;
        border-radius: 60px !important;
    }
    

    #Datas {
        border-radius: 6px;
        border-style: none;
        padding: 5px 5px;
        background-color: #19371320;
    }

    .btn span{
        display: none;
    }

    #Limpar{
        background-color: white;
        padding: 0 0.5rem;
    }

    #Filtrar {
        padding: 0 0.5rem;
    }

    #IconFiltrar{
        margin: 0;
    }

    #IconExclude{
        display: inline;
        margin: 0;
    }

    .cardgrid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100%, auto));
        gap: 1.0rem;
        width: 100%;
    }

    .d-flex button {
        background-color: #44762B;
        color: white;
    }

    .d-flex svg {
        fill: #ffffff;
    }

    #link-Inicio{
        color: #7F7F7F !important;
    }

    #link-Grafico{
        color: #7F7F7F !important;
    }
}

@media (max-width: 494px) {
    .forms{
        flex-wrap: wrap;
    }
    .inputItem{     
        width: 36%;
    }

    #Datas{
        width: 80%;
    }
}