<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="text/css" href="{{ url_for('static', filename='css/normalize.css')}}">
    <link rel="icon" href="../static/img/LogoSmartFarmNav.svg"></link>
    <title>Smart Farm</title>
    {% endblock head %}
</head>

<body>
    <header>
        <div class="logo">
            <img src="../static/img/LogoSmartFarm.svg" alt="">
            <h1>SMART FARM</h1>
        </div>
        <nav>
            <a href="/">Início</a>
            <a href="/Graficos">Gráficos</a>
        </nav>
        <div class="buttons">
            <form action = "/Importar" method = "POST" enctype="multipart/form-data">
                <div class="InputFile">
                    <input type="file"  value="Importar" name="arquivo_csv" accept=".csv" onchange="form.submit()">
                    <label for="fileInput">
                        <img id="Importar" src="/static/img/importar.svg" alt="">
                        Importar
                    </label>
                </div>
            </form>
            <button type="button" value="Baixar">
                <img id="Baixar" src="/static/img/baixar.svg" alt="">
                <p>Baixar</p>
            </button>
        </div>
    </header>
    {% block content %}

    {% endblock content %}

    <footer>
        <img src="../static/img/LogoSkyFly.svg" alt="">
        <p>© 2024 - SkyFly - Todos os direitos reservados.</p>
    </footer>
</body>

</html>