{% extends 'base.html' %}

{% block head %}
{{ super() }}
<style type="text/css">
    a:first-child {
        color: white;
        border-bottom: 2px solid #ffffff;
        padding-bottom: 1px;
    }
    body{
        overflow-y: hidden;
    }
</style>
{% endblock %}

{% block content %}
<main>
    <div class="title">
        <h2>Dados atuais - Estufa</h2>
        <div class="atual">
            <img src="../static/img/Relógio.svg" alt="Relógio Icon" width="25px" height="25px">
            <p>Atualizado em 12/04 às 12:30</p>
        </div>
    </div>
    <div class="cardflex">
        <div class="cardbox">
            <img class="icon" src="../static/img/ambiente.svg" alt="">
            <p>Umidade do ambiente</p>
            <h1>2,1 a</h1>
            <div class="dados">
                <img class="graphic" src="../static/img/positivo.svg" alt="">
                <p><strong>2,5%</strong> acima desde a última atualização</p>
            </div>

        </div>
        <div class="cardbox">
            <img class="icon" src="../static/img/solo.svg" alt="">
            <p>Umidade do solo</p>
            <h1>9.6 a</h1>
            <div class="dados">
                <img class="graphic" src="../static/img/negativo.svg" alt="">
                <p><strong>2,1%</strong> abaixo desde a última atualização</p>
            </div>

        </div>
        <div class="cardbox">
            <img class="icon" src="../static/img/Termometro.svg" alt="">
            <p>Temperatura</p>
            <h1> 32°C</h1>
            <div class="dados">
                <img class="graphic" src="../static/img/positivo.svg" alt="">
                <p><strong>2,3%</strong> acima desde a última atualização</p>
            </div>

        </div>
        <div class="cardbox">
            <img class="icon" src="../static/img/gota.svg" alt="">
            <p>Volume água</p>
            <h1> 2kg/m³</h1>
            <div class="dados">
                <img class="graphic" src="../static/img/positivo.svg" alt="">
                <p><strong>2,5%</strong> acima desde a última atualização</p>
            </div>
        </div>
    </div>
</main>

{% endblock content %}