{% extends 'base.html' %}

{% block head %}
{{ super() }}
<style type="text/css">
    a:first-child {
        color: white;
        border-bottom: 2px solid #ffffff;
        padding-bottom: 1px;
    }
    body{
        overflow-y: hidden;
    }
</style>
{% endblock %}

{% block content %}
<main>
    <div class="title">
        <h2>Dados atuais - Estufa</h2>
        <div class="atual">
            <img src="../static/img/Relógio.svg" alt="Relógio Icon" width="25px" height="25px">
            <p>Atualizado em 12/04 às 12:30</p>
        </div>
    </div>
    <div class="cardflex">
        <div class="cardbox">
            <img class="icon" src="../static/img/ambiente.svg" alt="">
            <p>Umidade do ambiente</p>
            <h1>{{ dados0 }} a</h1>
            <div class="dados">
                <img class="graphic" src="../static/img/{{ ico0 }}.svg" alt="">
                <p><strong>{{ comp0 }}%</strong> {{ res0 }}</p>
            </div>

        </div>
        <div class="cardbox">
            <img class="icon" src="../static/img/solo.svg" alt="">
            <p>Umidade do solo</p>
            <h1>{{ dados1 }} a</h1>
            <div class="dados">
                <img class="graphic" src="../static/img/{{ ico1 }}.svg" alt="">
                <p><strong>{{ comp1 }}%</strong> {{ res1 }}</p>
            </div>

        </div>
        <div class="cardbox">
            <img class="icon" src="../static/img/Termometro.svg" alt="">
            <p>Temperatura</p>
            <h1>{{ dados2 }}°C</h1>
            <div class="dados">
                <img class="graphic" src="../static/img/{{ ico2 }}.svg" alt="">
                <p><strong>{{ comp2 }}%</strong> {{ res2 }}</p>
            </div>

        </div>
        <div class="cardbox">
            <img class="icon" src="../static/img/gota.svg" alt="">
            <p>Volume água</p>
            <h1>{{ dados3 }}kg/m³</h1>
            <div class="dados">
                <img class="graphic" src="../static/img/{{ ico3 }}.svg" alt="">
                <p><strong>{{ comp3 }}%</strong> {{ res3 }}</p>
            </div>
        </div>
    </div>
</main>

{% endblock content %}