{% extends 'base.html' %}

{% block head %}
{{ super() }}
<style type="text/css">
    #link-Inicio {
        color: rgb(255, 255, 255) !important;
        border-bottom: 2px solid #ffffff !important;
        padding-bottom: 1px !important;
    }

    body {
        overflow-y: hidden;
    }

    footer {
        position: fixed !important;
        bottom: 0 !important;
        left: 0 !important;
    }

    @media (max-width: 991px) {
        #link-Inicio {
            color: #71A334 !important;
            border-bottom: 2px solid #71A334 !important;
        }

        body {
            overflow-y: scroll;
        }

        footer {
            position: static !important;
            width: 100% !important;
            display: flex !important;
            align-items: flex-end !important;
            margin-top: 2rem !important;
        }
    }
</style>
{% endblock %}

{% block content %}
<main>
    <div class="title">
        <h2>Dados atuais - Estufa</h2>
        <div class="atual">
            <img src="../static/img/Relógio.svg" alt="Relógio Icon" width="25px" height="25px">
            <p>Atualizado em {{ data }} às {{ hora }}</p>
        </div>
    </div>
    <div class="cardflex">
        <div class="cardbox">
            <img class="iconParametro" src="../static/img/ambiente.svg" alt="">
            <p><strong> Umidade do ambiente </strong></p>
            <h1>{{ dados0 }} a</h1>
            <div class="dados">
                <img class="graphic" src="{{ ico0 }}" alt="">
                <p><strong>{{ comp0 }}</strong> {{ res0 }}</p>
            </div>

        </div>
        <div class="cardbox">
            <img class="iconParametro" src="../static/img/solo.svg" alt="">
            <p><strong> Umidade do solo</strong></p>
            <h1>{{ dados1 }} a</h1>
            <div class="dados">
                <img class="graphic" src="{{ ico1 }}" alt="">
                <p><strong>{{ comp1 }}</strong> {{ res1 }}</p>
            </div>

        </div>
        <div class="cardbox">
            <img class="iconParametro" src="../static/img/Termometro.svg" alt="">
            <p><strong> Temperatura </strong></p>
            <h1> {{ dados2 }}°C</h1>
            <div class="dados">
                <img class="graphic" src="{{ ico2 }}" alt="">
                <p><strong>{{ comp2 }}</strong> {{ res2 }}</p>
            </div>

        </div>
        <div class="cardbox">
            <img class="iconParametro" src="../static/img/gota.svg" alt="">
            <p> <strong> Volume água </strong></p>
            <h1> {{ dados3 }}kg/m³</h1>
            <div class="dados">
                <img class="graphic" src="{{ ico3 }}" alt="">
                <p><strong>{{ comp3 }}</strong> {{ res3 }}</p>
            </div>
        </div>
    </div>
</main>

{% endblock content %}